<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BoardMapper">
	
	<select id="list" resultType="HashMap">
		SELECT
			TMP.*
		FROM
			(SELECT
				ROW_NUMBER() OVER (ORDER BY BOR_ORDER DESC) AS NUM
				,BOR_KEY_ID
				,TITLE
				,(SELECT NICKNAME FROM MEMBER WHERE PID = board.PID) AS PID
				,VIEW_CNT
				,TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
				,BOR_ORDER
				,BOR_DISCLOSURE
			FROM
				BOARD board
			WHERE
				DEL_YN = 'N'
			ORDER BY 
				BOR_ORDER DESC
			)TMP
	<if test="firstRecordIndex !=null and lastRecordIndex != null">
      WHERE TMP.NUM BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
    </if>
	</select>
	
	<select id="boardTotalCnt" resultType="int">
        SELECT 
        	COUNT(*) 
        FROM
        	BOARD
        WHERE
        	DEL_YN = 'N'
    </select>
    
    <select id="boardDetail" resultType="HashMap">
    	SELECT
    		BOR_KEY_ID
    		,TITLE
    		,CONTENT
    		,TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
    		,VIEW_CNT
    		,PID
    		,BOR_DISCLOSURE
    	FROM
    		BOARD
    	WHERE
    		DEL_YN = 'N'
    		AND BOR_KEY_ID = #{bor_key_id}
    </select>
    
    <update id="incrementNttRdCnt" parameterType="String">
    	UPDATE 
    		BOARD
    	SET VIEW_CNT = VIEW_CNT +1
    	WHERE BOR_KEY_ID = #{bor_key_id}
    </update>
    
    <update id="boardOrder" parameterType="HashMap">
		UPDATE 
			BOARD
		SET
    		BOR_ORDER = 
    			CASE WHEN BOR_ORDER > (SELECT BOR_ORDER FROM BOARD WHERE BOR_KEY_ID = #{bor_key_id}) THEN BOR_ORDER-1
        		ELSE BOR_ORDER
        END
    </update>
    
    <update id="boardDelete" parameterType="HashMap">
		UPDATE
			BOARD
		SET
			DEL_YN = 'Y'
			,UP_DATE = SYSDATE
			,BOR_ORDER = NULL
		WHERE
			BOR_KEY_ID = #{bor_key_id}
    </update>
	
	<insert id="boardInsert" parameterType="HashMap">
		INSERT INTO BOARD
    	(
    		BOR_KEY_ID
    		,TITLE
    		,CONTENT
    		,PID
    		,BOR_ORDER
    		<if test="bor_disclosure == 'Y'.toString()">
			,BOR_DISCLOSURE
			,BOR_PASS    		
    		</if>
    	)
    	VALUES
    	(
    		#{bor_key_id}
    		,#{title}
    		,#{content}
    		,#{pid}
    		,(SELECT NVL(MAX(BOR_ORDER),0)+1 FROM BOARD WHERE DEL_YN ='N')
    		<if test="bor_disclosure == 'Y'.toString()">
    		,#{bor_disclosure}
    		,#{bor_pass}
    		</if>
    	)
	</insert>
	
	<update id="boardModify" parameterType="HashMap">
		UPDATE
			BOARD
		SET
			TITLE = #{title}
			,CONTENT = #{content}
			,UP_DATE = SYSDATE
			,BOR_DISCLOSURE = #{bor_disclosure}
			<if test="bor_disclosure == 'N'.toString()">
			,BOR_PASS = null
			</if>
			<if test="bor_disclosure == 'Y'.toString() and bor_pass != null and bor_pass != '' ">
			,BOR_PASS = #{bor_pass}
			</if>
			
		WHERE
			BOR_KEY_ID = #{bor_key_id}
	</update>
	
	<select id="boardPassChk" resultType="String">
		SELECT
			BOR_PASS
		FROM
			BOARD
		WHERE
			BOR_KEY_ID = #{bor_key_id}
			AND DEL_YN = 'N'
	</select>
	
</mapper>
